[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyteal = "~=0.9.1"
pyyaml = "*"
tealer = {editable = true, ref = "dev", git = "https://github.com/crytic/tealer.git"}

[dev-packages]

[requires]
python_version = "3"
