[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyteal = "~=0.13.0"
pyyaml = "*"
pyteal_utils ={editable = true, ref = "main", git = "https://github.com/algorand/pyteal-utils.git"}
tealer = {editable = true, ref = "dev", git = "https://github.com/crytic/tealer.git"}

[dev-packages]

[requires]
python_version = "3.10"