#header .heading-brand {
    float: left;
    max-width:100%;
    direction: rtl;
}
#header .btn {
    margin-top: 20px;
    float: right;
}

.first-section {
    font-size:x-large;
    margin-bottom: 50px;
}

.first-section .doc-links .btn {
    margin: 8px;
}
