#header .heading-brand {
  float: left;
  max-width: 100%;
  direction: rtl;
}
#header .btn {
  margin-top: 20px;
  margin-left: 15px;
  float: right;
}

.first-section {
  font-size: x-large;
  margin-bottom: 50px;
}

.first-section .doc-links .btn {
  margin: 8px;
}

.first-section a {
  text-decoration: underline;
}

.algo-address {
  background: #ffe;
  border: 1px solid #664;
  border-radius: 16px;
  padding: 0.01em 16px;
}

#algo-donate-modal .modal-body {
  margin: auto;
}

/* must be applied to the wrapper div */
.img-scroll {
  overflow: scroll;
  margin: 10px;
}
