# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Algo Builder"
name: "Algo Builder"
baseurl: "/algo-builder" # the subpath of your site, e.g. /blog
url: "https://scale-it.github.io/algo-builder/" # the base hostname & protocol for your site, e.g. http://example.com
repository: "scale-it/algo-builder"

minimal_mistakes_skin: "air" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"

# Build settings
markdown: kramdown # markdown processor
remote_theme: "mmistakes/minimal-mistakes@4.22.0"

plugins:
  # - jekyll-feed (https://github.com/github/pages-gem/issues/627)
  - jekyll-relative-links # to handle .md ext
  - jekyll-include-cache

kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/scale-it/algo-builder"

atom_feed:
  hide: true

include:
  - _css
  - _js

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
